spring:
  data:
    neo4j:
#      uri: bolt://218.193.154.228
      uri: bolt://127.0.0.1
      username: neo4j
      password: 123456
  #mysql配置
  datasource:
    url: jdbc:mysql://127.0.0.1/kg?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  #jpa 配置
  jpa:
    hibernate:
      #项目启动后根据实体类更新数据库的表
      ddl-auto: update
      #在控制台输出用到的数据库语句
    show-sql: true
  thymeleaf:
    prefix:
      classpath: /templates
    suffix: .html
    cache: false
    mode: LEGACYHTML5
  devtools:
    restart:
      enabled: true  #设置开启热部署
server:
  port: 8081