<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title >穿戴推荐</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="Classic Style Responsive web templates, Bootstrap Web Templates, Flat Web Templates, Android Compatible web templates,
    Smartphone Compatible web templates, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!-- //for-mobile-apps -->
	<!--<link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>-->
	<!--<link href="css/style.css" th:href="@{/css/style.css}"  rel="stylesheet" type="text/css" media="all"/>-->

	<!-- //for-mobile-apps -->
	<link href="css1/bootstrap.css" th:href="@{/css1/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
	<link href="css1/style.css" th:href="@{/css1/style.css}"  rel="stylesheet" type="text/css" media="all"/>
	<!-- //animation-effect -->
	<link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<!-- Bootstrap Core CSS -->
	<link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="css/style1.css" th:href="@{/css/style1.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<!-- font-awesome icons CSS -->
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link th:href="@{/css/SidebarNav.min.css}"  media='all' rel='stylesheet' type='text/css'/>
	<!-- side nav css file -->

	<!-- js-->
	<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{/js/modernizr.custom.js}"></script>

	<!--webfonts-->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script th:src="@{/js/metisMenu.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<!--//Metis Menu -->



</head>

<body>
<!-- header -->
<!-- //header -->
<!-- header-starts -->
<div class="header" th:include="header::header"></div>
<!-- //header-ends -->
<!-- Navigation -->

		<div class="container">
			<div class="col-sm-12 animated wow fadeInRight">
				<div class=" col-md-si" >
					<div style="margin-bottom: 10px;">
						<h3 >您可以多尝试：</h3>
						<hr style="border-width: 5px">
					</div>

					<div class="col-sm-3" style="width:140px; height: 160px; display:block;text-align: center;" >
							<img  th:src="@{/images/Pattern1.png}" src="/images/Pattern1.png" class="img-responsive"  alt="">
							<h6>A字半身裙</h6>	
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;" >
							<img  th:src="@{/images/Pattern3.png}" src="/images/Pattern3.png" class="img-responsive" alt="">
							<h6>短上衣</h6>	
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
						<img  th:src="@{/images/Collar1.png}" src="/images/Collar1.png" class="img-responsive"  alt="">
						<h6>V字领</h6>
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
							<img  th:src="@{/images/color39.jpg}" src="/images/color39.jpg" class="img-responsive"  alt="">
							<h6>浅色系</h6>
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
						<img  th:src="@{/images/color3.jpg}" src="/images/color3.jpg" class="img-responsive"  alt="">
						<h6>黑白灰</h6>
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
						<img  th:src="@{/images/color27.jpg}" src="/images/color27.jpg" class="img-responsive"  alt="">
						<h6>冷色系</h6>
					</div>



				</div>
			</div>

			<div class="col-sm-12 animated wow fadeInRight">
				<div class=" col-md-si" >
					<div style="margin-bottom: 10px">
						<h3 style="color: red">建议谨慎选择：</h3>
						<hr style="border-width: 5px">
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
							<img  th:src="@{/images/Pattern4.png}" src="/images/Pattern4.png" class="img-responsive"  alt="">
							<h6>包臀裙</h6>	
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
							<img  th:src="@{/images/Collar2.png}" src="/images/Collar2.png" class="img-responsive" alt="">
							<h6>高领</h6>	
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
							<img  th:src="@{/images/Collar8.png}" src="/images/Collar8.png" class="img-responsive"  alt="">
							<h6>小领口</h6>	
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
						<img  th:src="@{/images/color9.jpg}" src="/images/color9.jpg" class="img-responsive"  alt="">
						<h6>宝蓝色</h6>
					</div>

					<div class="col-sm-2" style="width:140px; height: 160px; display:block;text-align: center;"  >
						<img  th:src="@{/images/color66.jpg}" src="/images/color66.jpg" class="img-responsive"  alt="">
						<h6>明黄色</h6>
					</div>

				</div>
			</div>


			<div class="col-sm-12 animated wow fadeInRight">
				<div class=" col-md-si" >
					<div style="margin-bottom: 10px">
						<h3 >推荐搭配 为您定制</h3>
						<hr style="border-width: 5px">
					</div>

					<div class="col-sm-3 item-grid simpleCart_shelfItem"  >
						<div class="grid-pro">
							<div  class=" grid-product " style="width:200px; height: 300px; display:block; ">		
									<a href="#">
										<div class="grid-img">
											<img  th:src="@{/images/clothes1.jpg}" src="/images/clothes1.jpg" class="img-responsive"  alt="">
										</div>
									</a>			
							</div>
							<div class="women">
								<h6><a href="#" >V领宽松套头显瘦纯色毛衣</a></h6>
							</div>
						</div>
					</div>

					<div class="col-sm-3 item-grid simpleCart_shelfItem" >
						<div class="grid-pro">
							<div  class=" grid-product " style="width:200px; height: 300px; display:block;">		
									<a href="#">
										<div class="grid-img">
											<img  th:src="@{/images/clothes2.jpg}" src="/images/clothes2.jpg" class="img-responsive" alt="">
										</div>
									</a>			
							</div>
							<div class="women">
								<h6><a href="#" >森系上衣短裙高腰显瘦套装</a></h6>
							</div>
						</div>
					</div>

					<div class="col-sm-3 item-grid simpleCart_shelfItem" >
						<div class="grid-pro">
							<div  class=" grid-product " style="width:200px; height: 300px; display:block; ">
									<a href="#">
										<div class="grid-img">
											<img  th:src="@{/images/clothes3.jpg}" src="/images/clothes3.jpg" class="img-responsive" alt="">
										</div>
									</a>		
							</div>
							<div class="women">
								<h6><a href="#" >网红显瘦减龄上衣裙子套装</a></h6>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div style="margin-bottom: 100px;">
				<hr style="border-width: 5px">
			</div>
		</div>			
	</body>
</html>