<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title >穿戴推荐</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="keywords" content="Classic Style Responsive web templates, Bootstrap Web Templates, Flat Web Templates, Android Compatible web templates,
    Smartphone Compatible web templates, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
		</script>
		<!-- //for-mobile-apps -->
		<!--<link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>-->
		<!--<link href="css/style.css" th:href="@{/css/style.css}"  rel="stylesheet" type="text/css" media="all"/>-->

		<!-- //for-mobile-apps -->
		<link href="css1/bootstrap.css" th:href="@{/css1/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
		<link href="css1/style.css" th:href="@{/css1/style.css}"  rel="stylesheet" type="text/css" media="all"/>
		<!-- //animation-effect -->
		<link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

		<!-- Bootstrap Core CSS -->
		<link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />

		<!-- Custom CSS -->
		<link href="css/style1.css" th:href="@{/css/style1.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
		<!-- font-awesome icons CSS -->
		<link th:href="@{/css/font-awesome.css}" rel="stylesheet">
		<!-- //font-awesome icons CSS -->

		<!-- side nav css file -->
		<link th:href="@{/css/SidebarNav.min.css}"  media='all' rel='stylesheet' type='text/css'/>
		<!-- side nav css file -->

		<!-- js-->
		<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
		<script th:src="@{/js/modernizr.custom.js}"></script>

		<!--webfonts-->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
		<!--//webfonts-->

		<!-- Metis Menu -->
		<script th:src="@{/js/metisMenu.min.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
		<!--//Metis Menu -->



	</head>
	
	<body>
	<!-- header -->
	<!-- //header -->
	<!--Navigation-->
	<!-- header-starts -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">纺织服装知识图谱</a>
			</div>
			<div class="collapse navbar-collapse">
				<div class="profile_details_left"><!--notifications of menu start -->
					<ul class="nav navbar-nav navbar-left">
						<li>
							<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
							<a href="/index">首页</a>
							<!--</button>-->
						</li>
						<li >
							<a href="/test" >穿戴搭配 </a>
						</li>
						<li >
							<a href="/colors" >潮流速递 </a>
						</li>
						<li >
							<a href="/fabric" >面料厂家 </a>
						</li>
					</ul>
					<!--<div class="clearfix"> </div>-->
					<!--&lt;!&ndash;notification menu end &ndash;&gt;-->
					<!--<div class="clearfix"> </div>-->
				</div>
				<div class="header-left" style="margin-left: 5%">

					<!--search-box-->
					<div class="row" style="margin-top: 1%">
						<form class="input" id="search_head" action="/search" method="post">
							<div class="col-md-8">
								<input class="sb-search-input input__field--madoka" name="search_name" placeholder="Search..." type="search" id="search" />
								<label class="input__label" for="search">
									<svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
										<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
									</svg>
								</label>
							</div>
							<div class="col-md-4">
								<!--<span class="input-group-btn" >-->
								<button class="btn btn-default" type="submit" id = "bn1">搜索</button>
								<!--</span>-->
							</div>
						</form>
					</div><!--//end-search-box-->


					<!--<div class="clearfix"> </div>-->
					<!--</div>-->
					<!--<div class="clearfix"> </div>-->
				</div>
				<div class="profile_details_right">
					<ul class="nav navbar-nav navbar-left">
						<li th:unless="${session.username}"><a href="/login">登录</a></li>
						<li th:unless="${session.username}"><a href="/register">注册</a></li>
						<li th:if="${session.username}" class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> [[${session.username}]] <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/logout">退出登录</a> </li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- //header-ends -->
	<!-- Navigation -->

		<div class="container">
			<div class=" col-md-si" >
				<div style="margin-bottom: 10px">
					<h3 >选择符合您的标签</h3>
					<hr style="border-width: 5px">
				</div>

					
			</div>
			<div class="clearfix"></div>


			<section class="aui-flexView">

	        <section class="aui-scrollView">
	            <div class="aui-ui-choose">
	                <ul class="ui-choose" multiple="multiple" id="uc_03">
	                    <li>皮肤白：改善气色</li>
	                    <li>皮肤黄：提亮肤色</li>
	                    <li>皮肤黑：提升气质</li>
	                    <li>直筒身材</li>
	                    <li>梨型身材</li>
	                    <li>沙漏型身材</li>
	                    <li>苹果型身材</li>
	                    <li>倒三角身材</li>
	                    <li>圆脸：修饰脸部线条</li>
	                    <li>方脸：缓和脸部棱角</li>
	                    <li>脸大：修饰脸型</li>
	                    <li>肩宽：告别虎背熊腰</li>
	                    <li>胯宽屁股大</li>
	                    <li>小肚腩</li>
	                    <li>小粗腿</li>
	                </ul>
	            </div>
	        </section>

			<hr style="border-width: 5px">

	        <footer class="aui-footer">
	            <a href="/recommend" class="aui-preservation">确定</a>
	        </footer>
	    </section>
		</div>



		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/aui-choose.js" th:src="@{/js/aui-choose.js}"></script>
	    <script>
	        $('.ui-choose').ui_choose();
	        var uc_03 = $('#uc_03').data('ui-choose');
	        uc_03.click = function (index, item) {
	            console.log('click', index);
	        }
	        ;
	        uc_03.change = function (index, item) {
	            console.log('change', index);
	        }
	        ;
	    </script>
	</body>
</html>